body {
  align-items: center;
  background-color: #fff;
  color: $grey-dark;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100vh;
  margin: 30px;
}

h1 {
  font-size: 34px;
  font-weight: 500;
  margin: 50px 0 15px;

  @media (min-width: 600px) {
    font-size: 40px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  label {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
  }

  input {
    border: 1px solid $grey-border;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    padding-left: 20px;

    &:focus {
      outline: none;
    }
  }
}

.checkbox-container {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 60px;

  label {
    font-size: 14px;
  }

  input[type="checkbox"] {
    -webkit-appearance:none;
    border-radius: 5px;
    border:1px solid $grey-border;
    height: 25px;
    margin: 0 10px 0 0;
    padding: 6px;
    width: 25px;

    &:hover {
      cursor: pointer;
    }

    &:checked {
      background-color: $green;
      border: 0;
      color: #fff;
      font-family: 'FontAwesome';
      font-size: 13px;

      &:after {
        content: '\f00c';
      }
    }

    &:focus {
      outline: none;
    }
  }
}

button {
  background-color: $green;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  height: 60px;
  letter-spacing: 1px;
  padding: 0 50px;

  &:hover {
    background-color: $green;
    border: 0;
    color: #fff;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: #fff;
    border: 1px solid $grey-border;
    color: $grey-dark;
  }
}
